/* home.html 헤더 부분 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between; /* 로고와 검색 폼을 좌우로 분산 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 20px;
    width: 100%;
}

.logo-container {
    margin-top: 20px;
    margin-left: 20%; /* 로고 컨테이너를 왼쪽에서 30%만큼 이동 */
}

.logo {
    width: 150px; /* 원하는 크기로 조정 */
    height: auto; /* 높이를 비율에 맞게 자동 조정 */
    margin-right: 10px; /* 이미지와 검색창 사이의 간격 */
}

.search-container {
    display: flex;
    margin-right: 50%;
    margin-top: 20px; /* 검색 폼을 상단에 위치시킴 */
}

.search-form {
    display: flex;
}

.search-form input {
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #0186ba !important;
    outline: none;
}

.search-form button:hover {
    background-color: #007aab;
}

.navbar {
    background-color: #1E90FF; /* 네비게이션 바 배경색 */
    overflow: hidden;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 10px; /* 하단 여백 제거 */
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white; /* 글자 색상 */
    text-align: center;
    padding: 10px 20px; /* 좀 더 넉넉한 padding */
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #4682B4; /* 호버 시 배경색 */
    color: white;
}

/* 메인 콘텐츠에 네비게이션바 높이만큼 여백 추가 */
.main-content {
    margin-top: 50px; /* 네비게이션바 높이만큼 여백 설정 */
}
