main {
    width: 100%;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

/* 사이드바 */
.sidebar {
    width: 230px;
    height: 70%;
    padding: 20px;
    border: 1px solid #ddd;
    position: absolute;
    top: 150px; /* 헤더 아래에 위치하게 설정 (헤더 높이에 맞춰 조정) */
    left: 25px; /* 왼쪽에 고정 */
}

.sidebar-title {
    width: 270px;
    height: 60px;
    background-color: #333;
    margin-left: -20px;
    margin-top: -20px;

    /* 중앙 정렬을 위한 flex 설정 */
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;      /* 수직 중앙 정렬 */
}

.sidebar h2 {
    margin: 0; /* 여백 제거 */
    color: white;
    font-size: 20px; /* 글자 크기 조정 */
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px;
}

.sidebar ul li a:hover {
    font-weight: bold;
}

.sidebar-hr {
    border: none;
    border-top: 1px solid #bbb;
    margin-left: -20px;
    margin-right: -20px;
}

/* 메인 콘텐츠 */
.main-content {
    flex: 1;
    margin-right: 20px;
    margin-top: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    width: calc(100% - 400px); /* 사이드바 너비만큼 뺀 100% 가로 폭 설정 */
    height: 70%; /* 사이드바와 동일한 높이 설정 */
    position: absolute; /* 사이드바와 동일하게 절대 위치 설정 */
    top: 150px; /* 사이드바와 동일한 top 값 */
    left: 320px; /* 사이드바 옆에 위치하도록 left 값 설정 */
    background-color: white; /* 배경색 설정 */
    overflow: auto; /* 내용이 많을 경우 스크롤 가능 */
}

.main-content h2 {
    margin-bottom: 20px;
}

/* 페이징 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #555;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 1px;
}

.pagination a.current {
    background-color: #007aab;
    color: white;
    border: 1px solid #007aab;
}

.pagination a:hover:not(.current) {
    background-color: #ddd;
}

.pagination a:focus {
    outline: none;
}

.pagination .step-links a:first-child {
    border-radius: 1px 0 0 1px;
}

.pagination .step-links a:last-child {
    border-radius: 0 1px 1px 0;
}

.pagination .step-links {
    display: flex;
    align-items: center;
}

/* 논문 */
.checkbox-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px; /* 검색 결과 리스트의 왼쪽에서 약간의 간격 */
}

.cont {
    position: relative;
    padding-left: 40px; /* 체크박스의 너비를 고려하여 padding 추가 */
}

.cont-container {
    margin-left: 10px;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
}

.title a {
    color: inherit;
    text-decoration: none;
}

.title a:hover {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
}

.preAbstract a {
    color: inherit;
    text-decoration: none;
    color: darkgray;
}

.preAbstract a:hover {
    text-decoration: underline;
}

.save-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.save-btn img {
    width: 25px;
    height: 25px;
}

.keyword {
    display: inline-block;
    margin-right: 5px;
    color: rgb(91, 91, 91);
    text-decoration: none;
}

.check-remove-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.check-remove-btn:hover {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #007aab;
    font-size: 14px;
    font-weight: bold;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.saved-search-form {
    display: flex;
}

.saved-search-form input {
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.saved-search-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #0186ba;
    outline: none;
}

.saved-search-form button:hover {
    background-color: #007aab;
}

.all-check {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    background-color: #e7e7e7;
    height: 45px;
}

/* 추천논문 */
/* 상위 키워드 강조 */
.top-keywords {
    font-size: 18px;
    font-weight: bold;
    color: #007aab; /* 파란색 */
    margin-bottom: 20px;
    padding: 10px;
}

/* 추천 키워드 영역 */
.keyword-section {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #b0b0b0; /* 파란색 경계 */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}

/* 추천 키워드 제목 */
.keyword-section h1 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* 경계 강조 */
hr {
    border: none;
    border-top: 2px solid #ddd; /* 굵은 경계 */
    margin: 20px 0;
}