.paper-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.paper-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.save-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.save-btn img {
    width: 30px;
    height: 30px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-container {
    flex: 2;
    margin-right: 20px;
    margin-top: 20px;
}

.paper-matedata {
    padding: 20px;
}

.right-container {
    flex: 1;
    margin-left: auto;
    max-width: 280px;
}

.paper-info-box {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.paper-info-box button.url-btn {
    color: #333;
    border: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    margin-left: -6px;
    background-color: none;
}

.paper-info-box button.url-btn:hover {
    text-decoration: underline;
}

.paper-info-box strong {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.paper-info-box p {
    margin: 0;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.paper-info-box p:not(:last-child) {
    margin-bottom: 15px;
}

.paper-info-box hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.info-row strong {
    font-size: 14px;
    color: #333;
    flex: 1;
    text-align: left;
}

.info-row p {
    font-size: 14px;
    color: #555;
    flex: 1;
    text-align: right;
    margin: 0;
}

.paper-keywords {
    margin-top: 20px;
}

.paper-keywords strong {
    font-weight: bold;
}

.paper-keywords p {
    margin: 5px 0;
}

.keyword {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff !important;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.9em;
}

.keyword:hover {
    background-color: #0061c8;
}

.author-link, .country-link, .affiliation-link {
    text-decoration: none;
    color: #007BFF;
    transition: font-weight 0.3s ease;
}

.author-link:hover, .country-link:hover, .affiliation-link:hover {
    font-weight: bold;
}

.custom1-hr {
    border: none;
    border-top: 3px solid #616161;
    margin: 20px 0;
}

.custom-hr {
    border: none;
    border-top: 1px dashed #bbb;
    margin: 20px 0;
}