body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; 가로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between; /* 로고와 검색 폼을 좌우로 분산 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 20px;
    width: 100%;
}

.logo-container {
    margin-top: 20px;
    margin-left: 20%; /* 로고 컨테이너를 왼쪽에서 30%만큼 이동 */
}

.logo {
    width: 150px; /* 원하는 크기로 조정 */
    height: auto; /* 높이를 비율에 맞게 자동 조정 */
    margin-right: 10px; /* 이미지와 검색창 사이의 간격 */
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    /* margin-left: 10px;
    margin-right: 40px;
    margin-top: 20px; 검색 폼을 상단에 위치시킴 */
}

.search-form {
    display: flex;
}

.search-form input {
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #0186ba;
    outline: none;
}

.search-form button:hover {
    background-color: #007aab;
}

.analysis-button-container {
    display: block;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.analysis-button-container button {
    padding: 10px 20px;
    width: 170px;
    height: 50px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #0186ba;
}

.analysis-button-container button:hover {
    background-color: #007aab;
}

.content-container {
    display: flex;
    justify-content: flex-start; /* 자식 요소들을 왼쪽으로 정렬 */
    align-items: flex-start; /* 자식 요소들을 상단으로 정렬 */
    margin: 20px; /* 필요에 따라 조절 */
}

.filter-container {
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* 박스에 그림자 효과를 줍니다 */
    margin-right: 20px; /* content-container와의 간격 */
    margin-left: 20px;
    width: 200px;
}

ul, ol {
    list-style: none;
}

.searchResult {
    margin-left: 50px;
    width: 700px;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.pagination {
    display: flex;
    justify-content: center;
}

.related-terms-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 38%;
    text-align: center;
}

.related-terms-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.related-term {
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.related-term:hover {
    background: #f0f0f0;
}
