body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.full-width-hr {
    margin: 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #000; /* 원하는 색상으로 변경 */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 7px;
}

.logo {
    width: 150px; /* 원하는 크기로 조정 */
    height: auto; /* 높이를 비율에 맞게 자동 조정 */
    margin-right: 10px; /* 이미지와 검색창 사이의 간격 */
}

#search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0186ba;
    color: white;
    cursor: pointer;
    margin-left: 10px; /* 검색창과 버튼 사이의 간격 */
}

button:hover {
    background-color: #007aab;
}

.suggestions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 추천 검색어들 사이의 간격 */
    margin-top: 10px;
    padding: 10px;
    align-items: center; /* 항목들을 중앙으로 수직 정렬함 */
}

.suggestion-item {
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    margin-top: 10px;
}

.suggestion-title {
    font-weight: bold;
    color: #000000;
    font-size: 12px;
    margin-top: 10px;
}

/* 표 전체 스타일 */
table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto; /* 표를 중앙에 배치 */
    margin-right: auto; /* 표를 중앙에 배치 */
}

/* 표 헤더 스타일 */
th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* 표 셀 스타일 */
td {
    border: 1px solid #dddddd;
    padding: 10px;
}

/* 짝수 행 배경색 스타일 */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 마우스 호버 스타일 */
tbody tr:hover {
    background-color: #f2f2f2;
}