<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AcademicLens {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="{% static 'image/cap_logo.png' %}" alt="Logo" class="logo">
        </div>
        <div class="search-container">
            <form action="{% url 'search' %}" method="get" class="search-form">
                <input type="text" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>