<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AcademicLens {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/paperDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'home' %}"><img src="{% static 'image/cap_logo.png' %}" alt="Logo" class="logo"></a>
        </div>
        <div class="search-container">
            <form action="{% url 'search' %}" method="get" class="search-form" id="search-form">
                <input type="text" name="query" id="search-box" placeholder="Enter search query" value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>
    <main>
        <nav class="navbar">
            <ul>
                <li><a href="#">소개</a></li>
                <li><a href="#">버튼 1</a></li>
                <li><a href="{% url 'mypage' %}">마이페이지</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
</body>
</html>