<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademicLens</title>
    {% load main/static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/paperDetail.css' %}">   
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'home' %}"><img src="{% main/static 'image/cap_logo.png' %}" alt="Logo" class="logo"></a>
        </div>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <span class="welcome-message">
                    <strong>{{ user.profile.nickname }}</strong>님, 환영합니다.
                </span>
                <a href="{% url 'accounts:logout' %}" class="btn-logout">로그아웃</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="btn-login">로그인</a>
                <a href="{% url 'accounts:signup' %}" class="btn-signup">회원가입</a>
            {% endif %}
        </div>
    </header>
    <main>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'introduce' %}">소개</a></li>
                <li><a href="{% url 'post:post_list' %}">IT스타그램</a></li>
                <li><a href="{% url 'mypage' %}">마이페이지</a></li>
                <li><a href="{% url 'analysis_page' %}">분석 페이지</a></li>
            </ul>
        </nav>
        <div class="search-container">
            <div class="background-layer"></div>
            <form action="{% url 'search' %}" method="get" class="search-form" id="search-form">
                <select name="filter" id="filter">
                    <option value="paper" {% if filter == 'paper' %}selected{% endif %}>논문</option>
                    <option value="author" {% if filter == 'author' %}selected{% endif %}>저자</option>
                    <option value="country" {% if filter == 'country' %}selected{% endif %}>나라</option>
                    <option value="affiliation" {% if filter == 'affiliation' %}selected{% endif %}>소속</option>
                </select>
                <input type="text" name="query" id="search-box" placeholder="Enter search query" value="{{ query }}">
                <button type="submit">Search</button>
            </form>    
        </div>        
        <!-- 콘텐츠 시작 -->
        <div class="container">
            <!-- 실시간 인기 키워드 -->
            <div class="keyword-section">
                <h2>실시간 인기 키워드</h2>
                <div style="display: flex;">
                    <!-- 첫 번째 테이블 (1-5위) -->
                    <table style="margin-right: 20px; width: 300px;">
                        <thead>
                            <tr>
                                <th style="width: 60px;">Rank</th>
                                <th>Keyword</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for keyword in popular_keywords_1_5 %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="/search/?filter=paper&query={{ keyword.keyword }}">{{ keyword.keyword }}</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2">No popular keywords found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        
                    <!-- 두 번째 테이블 (6-10위) -->
                    <table style="width: 300px;">
                        <thead>
                            <tr>
                                <th style="width: 60px;">Rank</th>
                                <th>Keyword</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for keyword in popular_keywords_6_10 %}
                            <tr>
                                <td>{{ forloop.counter|add:5 }}</td>
                                <td><a href="/search/?filter=paper&query={{ keyword.keyword }}">{{ keyword.keyword }}</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2">No popular keywords found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        
            <!-- 실시간 인기 자료 -->
            <div class="data-section">
                <h2>실시간 인기 자료</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Title</th>
                            <th>Saved</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paper in popular_papers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="/paper/{{ paper.id }}/">{{ paper.title }}</a></td>
                            <td>{{ paper.saved_count }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No papers found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="bottom-section" style="display: flex; justify-content: space-around; margin-top: 20px;">
                <!-- 등록 논문 -->
                <div class="stat-container">
                    <img src="{% static 'image/cap_paper.png' %}" alt="Paper" class="stat-icon">
                    <p class="stat-number">{{ paper_count }}건</p>
                    <p class="stat-label">등록 논문</p>
                    <p class="stat-description">연구와 학술 자료를 제공하는 등록 논문 수입니다.</p>
                </div>
            
                <!-- 등록 학회 -->
                <div class="stat-container">
                    <img src="{% static 'image/cap_affiliation.png' %}" alt="Affiliation" class="stat-icon">
                    <p class="stat-number">{{ affiliation_count }}개</p>
                    <p class="stat-label">등록 학회</p>
                    <p class="stat-description">등록된 학회 수입니다.</p>
                </div>
            
                <!-- 가입된 사용자 수 -->
                <div class="stat-container">
                    <img src="{% static 'image/cap_user.png' %}" alt="User Icon" class="stat-icon">
                    <p class="stat-number">{{ user_count }}명</p>
                    <p class="stat-label">가입된 사용자 수</p>
                    <p class="stat-description">AcademicLens 가입된 사용자 수입니다.</p>
                </div>
            </div>
        </div>
        <!-- 콘텐츠 끝 -->
    </main>
    <script>
        // 사용자가 한 글자만 검색했을 때 경고문 띄우기
        document.getElementById('search-form').addEventListener('submit', function(event) {
            var query = document.getElementById('search-box').value;
    
            // 입력된 검색어가 2글자 이상인지 확인
            if (query.length < 2) {
                alert('2글자 이상 입력해주세요.');
                event.preventDefault(); // 폼 제출 막기
            }
        });

    window.addEventListener('pagehide', function (event) {
        // only if the page is being unloaded, not navigated within the same tab
        if (event.persisted === false) {
            fetch("{% url 'accounts:logout' %}", {
                method: 'GET',
                credentials: 'include'
            });
        }
    });

    </script>
</body>
</html>
