<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper Table</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Paper Table</h1>
    <p>Total Papers : {{ paper_count }}</p>
    <p>Total Affiliation : {{ affiliation_count }}</p>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Search</th>
                <th>Title</th>
                <th>URL</th>
                <th>Date</th>
                <th>Citations</th>
                <th>Publisher</th>
                <th>Abstract</th>
                <th>Keywords</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td>{{ paper.id }}</td>
                <td>{{ paper.search }}</td>
                <td>{{ paper.title }}</td>
                <td>{{ paper.url }}</td>
                <td>{{ paper.date }}</td>
                <td>{{ paper.citations }}</td>
                <td>{{ paper.publisher }}</td>
                <td>{{ paper.abstract }}</td>
                <td>{{ paper.keywords }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
