<div class="report-section">
    <label for="reportTitle"><h3>Title</h3></label>
    <input id="reportTitle" type="text" style="width: 100%; margin-bottom: 15px;" placeholder="Please enter the title of the report">
</div>

<div id="imageList" class="image-list">
    <!-- 이미지가 여기에 로드됩니다 -->
</div>

<div class="report-section">
    <h3>Content</h3>
    <textarea id="reportContent" rows="5" style="width: 100%;" placeholder="Please enter the contents of the report"></textarea>
</div>

<div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top:10px;">
    <button class="saveReport-btn" onclick="submitReport()">Submit</button>
    <button class="cancel-btn" onclick="showContent('report')">Cancel</button>
</div>