
{% block content %}
<h2>리포트 목록</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>리포트 제목</th>
            <th>생성 날짜</th>
            <th>편집</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ report.folder_name }}</td>
            <td>{{ report.creation_date }}</td>
            <td>
                <button class="styled-btn" onclick="showContent('report_detail', 1, '{{ report.folder_name }}')">
                    상세 보기
                </button>
                <button class="styled-btn" onclick="deleteReport('{{ report.folder_name }}')">
                    삭제
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">리포트가 없습니다.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    // 페이지 로드 직후 HTML이 보이지 않도록 설정
    document.body.style.display = 'none';
    
    if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
        // 새로고침한 경우 마이페이지로 이동
        window.location.href = "{% url 'mypage' %}";
    } else {
        // 새로고침이 아닌 경우에는 페이지 내용을 보이도록 설정
        document.body.style.display = 'block';
    }
});

</script>
{% endblock %}
