<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} AcademicLens {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/searchBase.css' %}">
</head>
<body>
    <header class="header">
        <div class="search-container">
            <div class="logo-container">
                <a href="{% url 'home' %}"><img src="{% static 'image/cap_logo.png' %}" alt="Logo" class="logo"></a>
            </div>
            <form action="{% url 'search' %}" method="get" class="search-form" id="search-form">
                <select name="filter" id="filter">
                    <option value="paper">논문</option>
                    <option value="author">저자</option>
                    <option value="country">나라</option>
                </select>
                <input type="text" name="query" id="search-box" placeholder="Enter search query" value="{{ query }}">
                <button type="submit">Search</button>
            </form>
            {% if related_terms %}
            <div class="related-terms-container">
                <ul class="related-terms-list">
                    {% for term in related_terms %}
                    <li class="related-term">{{ term }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </header>

    <main>
        <nav class="navbar">
            <ul>
                <li><a href="#">소개</a></li>
                <li><a href="#">버튼 1</a></li>
                <li><a href="{% url 'mypage' %}">마이페이지</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.getElementById('analysis-form').addEventListener('submit', function(event) {
            var searchQuery = document.getElementById('search-box').value;
            document.getElementById('analysis-query').value = searchQuery;
        });
    </script>
</body>
</html>
