{% extends 'searchBase.html' %}
{% load static %}
{% load highlight %}

{% block title %}AcademicLens{% endblock %}

{% block content %}
<div class="main-container">
    <div class="content-container">
        <div class="filter-container">
            <div class="limSearch">
                <p> 필터 </p>
                <button type="button" class="reset-btn" id="reset-filters">초기화</button>
            </div>
            <form name="group" method="GET" action="{% url 'search' %}">
                <input type="hidden" name="query" value="{{ query }}">
                {% for year in selected_years %}
                    <input type="hidden" name="year" value="{{ year }}">
                {% endfor %}
                {% for publisher in selected_publishers %}
                    <input type="hidden" name="publisher" value="{{ publisher }}">
                {% endfor %}
                <ul class="filterList">
                    <li class="on">
                        <details open>
                            <summary> 발행연도 </summary>
                            <div>
                                <ul class="contList year" data-header="발행연도">
                                    <div id="mCSB_1" class="mCustomScrollBox" tabindex="0" style="max-height: 250px;">
                                        <div id="mCSB_1_container" class="mCSB_1_container" style="position:relative; top:0; left:0;" dir="ltr">
                                            <li>
                                                <input type="checkbox" id="year_2024" name="year" value="2024" {% if '2024' in selected_years %}checked{% endif %}>
                                                <label for="year_2024" data-currname="2024" data-currvalue="2024">
                                                    <span class="checkBox"></span>
                                                    2024
                                                    <span class="total"> ({{paper_counts_by_year.2024}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="year_2023" name="year" value="2023" {% if '2023' in selected_years %}checked{% endif %}>
                                                <label for="year_2023" data-currname="2023" data-currvalue="2023">
                                                    <span class="checkBox"></span>
                                                    2023
                                                    <span class="total"> ({{paper_counts_by_year.2023}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="year_2022" name="year" value="2022" {% if '2022' in selected_years %}checked{% endif %}>
                                                <label for="year_2022" data-currname="2022" data-currvalue="2022">
                                                    <span class="checkBox"></span>
                                                    2022
                                                    <span class="total"> ({{paper_counts_by_year.2022}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="year_2021" name="year" value="2021" {% if '2021' in selected_years %}checked{% endif %}>
                                                <label for="year_2021" data-currname="2021" data-currvalue="2021">
                                                    <span class="checkBox"></span>
                                                    2021
                                                    <span class="total"> ({{paper_counts_by_year.2021}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="year_2020" name="year" value="2020" {% if '2020' in selected_years %}checked{% endif %}>
                                                <label for="year_2020" data-currname="2020" data-currvalue="2020">
                                                    <span class="checkBox"></span>
                                                    2020
                                                    <span class="total"> ({{paper_counts_by_year.2020}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="year_2019" name="year" value="2019" {% if '2019' in selected_years %}checked{% endif %}>
                                                <label for="year_2019" data-currname="2019" data-currvalue="2019">
                                                    <span class="checkBox"></span>
                                                    2019
                                                    <span class="total"> ({{paper_counts_by_year.2019}}) </span>
                                                </label>
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </details>
                        <br><br>
                        <details open>
                            <summary> 발행처 </summary>
                            <div>
                                <ul class="contList publisher" data-header="발행처">
                                    <div id="mCSB_2" class="mCustomScrollBox" tabindex="1" style="max-height: 120px;">
                                        <div id="mCSB_2_container" class="mCSB_2_container" style="position:relative; top:0; left:0;" dir="ltr">
                                            <li>
                                                <input type="checkbox" id="publisher_acm" name="publisher" value="ACM" {% if 'ACM' in selected_publishers %}checked{% endif %}>
                                                <label for="publisher_acm" data-currname="ACM" data-currvalue="ACM">
                                                    <span class="checkBox"></span>
                                                    ACM
                                                    <span class="total"> ({{paper_counts_by_publisher.ACM}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="publisher_ieee" name="publisher" value="IEEE" {% if 'IEEE' in selected_publishers %}checked{% endif %}>
                                                <label for="publisher_ieee" data-currname="IEEE" data-currvalue="IEEE">
                                                    <span class="checkBox"></span>
                                                    IEEE
                                                    <span class="total"> ({{paper_counts_by_publisher.IEEE}}) </span>
                                                </label>
                                            </li>
                                            <li>
                                                <input type="checkbox" id="publisher_springer" name="publisher" value="Springer" {% if 'Springer' in selected_publishers %}checked{% endif %}>
                                                <label for="publisher_springer" data-currname="Springer" data-currvalue="Springer">
                                                    <span class="checkBox"></span>
                                                    Springer
                                                    <span class="total"> ({{paper_counts_by_publisher.Springer}}) </span>
                                                </label>
                                            </li>
                                        </div>
                                        <div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools" style="display: block;"></div>
                                    </div>
                                </ul>
                            </div>
                        </details>
                        <br><br>
                        <details open>
                            <summary> 저자 검색 </summary>
                            <div>
                                <ul class="contList author" data-header="저자">
                                    <div id="mCSB_3" class="mCustomScrollBox" tabindex="2" style="max-height: 120px;">
                                        <div id="mCSB_3_container" class="mCSB_3_container" style="position:relative; top:0; left:0;" dir="ltr">
                                            <input type="text" id="author-search" name="author-search" placeholder="저자명을 입력해주세요." {% if author %} value="{{ author }}" {% endif %}>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </details>
                        <br><br>
                        <details open>
                            <summary> 국가 </summary>
                            <div>
                                <ul class="contList country" data-header="국가">
                                    <div id="mCSB_4" class="mCustomScrollBox" tabindex="3">
                                        <div id="mCSB_4_container" class="mCSB_4_container" style="position:relative; top:0; left:0;" dir="ltr">
                                            {% for country, count in paper_counts_by_country.items %}
                                                <li>
                                                    <input type="checkbox" id="country_{{ country }}" name="country" value="{{ country }}"
                                                        {% if country in selected_countries %} checked {% endif %}>
                                                    <label for="country_{{ country }}">{{ country }} ({{ count }})</label>
                                                </li>
                                            {% endfor %}
                                        </div>
                                        <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools" style="display: block;"></div>
                                    </div>
                                </ul>
                            </div>
                        </details>
                    </li>
                </ul>
                <button type="submit" class="filter-search">검색</button>
            </form>
        </div>
        <div class="searchResult">
            <div class="search-header">
                <div class="search-query-container">
                    <span class="search-query">
                        검색키워드 &nbsp;&nbsp;&nbsp; <span class="highlight">{{ query }}</span>&nbsp;&nbsp;&nbsp; (검색결과 {{ total_results }}건)
                    </span>
                    <div class="analysis-button-container">
                        <form action="{% url 'total_graph' %}" method="get" id="analysis-form">
                            <input type="hidden" name="query" value="{{ query }}">
                            <input type="hidden" name="filter" value="{{ request.GET.filter }}"> <!-- filter 값을 유지하여 전달 -->
                            <button type="submit"> 분석결과보기 </button>
                        </form>
                    </div>
                </div>
                <div class="search-options">
                    <div class="left-options">
                        <input type="checkbox" name="select_all" id="select-all"> &nbsp;&nbsp;&nbsp;
                        <button type="button" class="check-save-btn" id="check-save-btn">저장하기</button>
                    </div>
                    <div class="right-options">
                        <select id="sort-by" name="sort_by">
                            <option value="title" {% if sort_by == 'title' %}selected{% endif %}>정확도순</option>
                            <option value="latest" {% if sort_by == 'latest' %}selected{% endif %}>최신순</option>
                        </select>
                        <select id="sort-order" name="order">
                            <option value="desc" {% if order == 'desc' %}selected{% endif %}>내림차순</option>
                            <option value="asc" {% if order == 'asc' %}selected{% endif %}>오름차순</option>
                        </select>
                        <select id="items-per-page" name="items_per_page">
                            <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10개씩</option>
                            <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20개씩</option>
                            <option value="30" {% if items_per_page == 30 %}selected{% endif %}>30개씩</option>
                            <option value="40" {% if items_per_page == 40 %}selected{% endif %}>40개씩</option>
                            <option value="50" {% if items_per_page == 50 %}selected{% endif %}>50개씩</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 검색 결과 -->
            {% if papers_with_authors_and_keywords %}
                {% for item in papers_with_authors_and_keywords %}
                    <div class="cont">
                        <div class="checkbox-container">
                            <input type="checkbox" name="selected_papers" value="{{ item.paper.id }}" class="paper-checkbox">
                        </div>
                        <div class="cont-container">

                            <div class="title-container">
                                <p class="title">
                                    <strong><a href="{% url 'paper_detail' item.paper.id %}">
                                        {{ item.paper.title|highlight:query }}
                                    </a></strong>                                                                
                                </p>
                                <button class="save-btn" data-paper-id="{{ item.paper.id }}">
                                    <img src="{% if item.is_saved %}{% static 'image/heart-filled.png' %}{% else %}{% static 'image/heart-empty.png' %}{% endif %}" alt="save" class="save-icon">
                                </button>
                            </div>
                            <div class="preAbstract-container">
                                <p class="preAbstract">
                                    <a href="{% url 'paper_detail' item.paper.id %}">{{ item.paper.abstract|truncatechars:250 }}</a>
                                </p>
                            </div>
                            {% if item.keywords %}
                            <div class="keywords-container">
                                <p class="keyword">
                                    {% for keyword in item.keywords %}
                                        # {{ keyword.keyword_name }}{% if not forloop.last %} {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            {% endif%}
                            <div class="etc-container">
                                <!-- 저자 -->
                                {% if item.authors %}
                                    {% if item.authors|length > 1 %}
                                        {{ item.authors.0.name }} 외 {{ item.authors|length|add:"-1" }}인
                                    {% else %}
                                        {{ item.authors.0.name }}
                                    {% endif %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                {% endif %}
                                
                                <!-- 연도 -->
                                {{ item.paper.date|date:"Y" }}
                                
                                <!-- 소속 -->
                                {% comment %} {% if item.affiliations %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {% for affiliation in item.affiliations %}
                                        {{ affiliation.name }}{% if not forloop.last %} , {% endif %}
                                    {% endfor %}
                                {% endif %} {% endcomment %}
                                
                                <!-- 국가 -->
                                {% if item.countries %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {% for country in item.countries %}
                                        {{ country }}{% if not forloop.last %} , {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                <!-- 발행처 -->
                                {% if item.paper.publisher %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;{{ item.paper.publisher }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                
                <!-- 페이징 -->
                <div class="pagination">
                    {% comment %} <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?filter={{ filter }}&query={{ query }}{% for year in selected_years %}&year={{ year }}{% endfor %}{% for publisher in selected_publishers %}&publisher={{ publisher }}{% endfor %}&page=1">&laquo;</a>
                            <a href="?filter={{ filter }}&query={{ query }}{% for year in selected_years %}&year={{ year }}{% endfor %}{% for publisher in selected_publishers %}&publisher={{ publisher }}{% endfor %}&page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                        {% endif %}
                        
                        {% for num in current_group_pages %}
                            {% if page_obj.number == num %}
                                <a href="#" class="current">{{ num }}</a>
                            {% else %}
                                <a href="?filter={{ filter }}&query={{ query }}{% for year in selected_years %}&year={{ year }}{% endfor %}{% for publisher in selected_publishers %}&publisher={{ publisher }}{% endfor %}&page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <a href="?filter={{ filter }}&query={{ query }}{% for year in selected_years %}&year={{ year }}{% endfor %}{% for publisher in selected_publishers %}&publisher={{ publisher }}{% endfor %}&page={{ page_obj.next_page_number }}">&rsaquo;</a>
                            <a href="?filter={{ filter }}&query={{ query }}{% for year in selected_years %}&year={{ year }}{% endfor %}{% for publisher in selected_publishers %}&publisher={{ publisher }}{% endfor %}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </span> {% endcomment %}
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?filter={{ filter }}&query={{ query }}&sort_by={{ sort_by }}&order={{ order }}&items_per_page={{ items_per_page }}&page=1&{% for year in selected_years %}year={{ year }}&{% endfor %}{% for publisher in selected_publishers %}publisher={{ publisher }}&{% endfor %}{% for country in selected_countries %}country={{ country }}&{% endfor %}">&laquo;</a>
                            <a href="?filter={{ filter }}&query={{ query }}&sort_by={{ sort_by }}&order={{ order }}&items_per_page={{ items_per_page }}&page={{ page_obj.previous_page_number }}&{% for year in selected_years %}year={{ year }}&{% endfor %}{% for publisher in selected_publishers %}publisher={{ publisher }}&{% endfor %}{% for country in selected_countries %}country={{ country }}&{% endfor %}">&lsaquo;</a>
                        {% endif %}
                
                        {% for num in current_group_pages %}
                            {% if page_obj.number == num %}
                                <a href="#" class="current">{{ num }}</a>
                            {% else %}
                                <a href="?filter={{ filter }}&query={{ query }}&sort_by={{ sort_by }}&order={{ order }}&items_per_page={{ items_per_page }}&page={{ num }}&{% for year in selected_years %}year={{ year }}&{% endfor %}{% for publisher in selected_publishers %}publisher={{ publisher }}&{% endfor %}{% for country in selected_countries %}country={{ country }}&{% endfor %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                            <a href="?filter={{ filter }}&query={{ query }}&sort_by={{ sort_by }}&order={{ order }}&items_per_page={{ items_per_page }}&page={{ page_obj.next_page_number }}&{% for year in selected_years %}year={{ year }}&{% endfor %}{% for publisher in selected_publishers %}publisher={{ publisher }}&{% endfor %}{% for country in selected_countries %}country={{ country }}&{% endfor %}">&rsaquo;</a>
                            <a href="?filter={{ filter }}&query={{ query }}&sort_by={{ sort_by }}&order={{ order }}&items_per_page={{ items_per_page }}&page={{ page_obj.paginator.num_pages }}&{% for year in selected_years %}year={{ year }}&{% endfor %}{% for publisher in selected_publishers %}publisher={{ publisher }}&{% endfor %}{% for country in selected_countries %}country={{ country }}&{% endfor %}">&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p>검색 결과가 없습니다.</p>
            {% endif %}
        </div>

        <!-- 뉴스 -->
        <div class="news-container">
            <!-- 국내 뉴스 국외 뉴스 전환 버튼 -->
            <div class="news-type">
                <button class="type_button" id="button_kor">국내</button>
				<button class="type_button type_active" id="button_inter">국외</button>
            </div>
        
            <div class="news-content">
                {% if articles %}
                    <ul>
                    {% for article in articles|slice:":10" %}  <!-- 뉴스 10개만 출력 -->
                        <li>
                            <div class="news-title">
                                <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                            </div>
                            <div class="news-cont">
                                {{ article.description|slice:":30" }}{% if article.description|length > 20 %}...{% endif %}
                            </div>
                            <div class="news-cont">
                                {{ article.publishedAt}}
                            </div>
                        </li>
                        <hr>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>검색 결과가 없습니다.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    const csrftoken = "{{ csrf_token }}";

    // 하트 저장 버튼 전환
    document.addEventListener('DOMContentLoaded', function() {
        const saveButtons = document.querySelectorAll('.save-btn');
        const isAuthenticated = "{{ request.user.is_authenticated|yesno:'true,false' }}" === "true"; // 로그인 여부 확인

        
        saveButtons.forEach(button => {
            button.addEventListener('click', function() {
                if (!isAuthenticated) {
                    // 로그인되지 않은 경우, 로그인 페이지로 리다이렉트
                    const loginUrl = "{% url 'accounts:login' %}";  // 로그인 페이지 URL
                    alert("로그인 후 저장할 수 있습니다.");
                    window.location.href = loginUrl;
                    return;  // 로그인 페이지로 이동 후 함수 종료
                }
                
                const saveIcon = this.querySelector('.save-icon');
                const heartEmpty = "{% static 'image/heart-empty.png' %}";
                const heartFilled = "{% static 'image/heart-filled.png' %}";
                
                // 논문 ID 가져오기
                const paperId = this.getAttribute('data-paper-id');
                
                // 논문 ID가 있는지 확인
                if (!paperId) {
                    console.error("논문 ID를 찾을 수 없습니다.");
                    return;
                }

                // FormData 객체 생성
                const formData = new FormData();
                formData.append('paper_id', paperId);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');  // CSRF 토큰 추가
                
                // 저장 상태에 따라 URL 변경
                const isSaved = saveIcon.src.includes('heart-filled.png');
                const url = isSaved ? "{% url 'remove_paper' %}" : "{% url 'save_paper' %}";
                
                // 서버로 POST 요청 보내기
                fetch(url, {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (isSaved) {
                            saveIcon.src = heartEmpty;  // 삭제된 경우 빈 하트로 변경
                        } else {
                            saveIcon.src = heartFilled;  // 저장된 경우 채워진 하트로 변경
                        }
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });

    // 체크박스로 저장
    document.addEventListener('DOMContentLoaded', function() {
        const saveButton = document.getElementById('check-save-btn');
        const checkboxes = document.querySelectorAll('.paper-checkbox');
        const isAuthenticated = "{{ request.user.is_authenticated|yesno:'true,false' }}" === "true"; // 로그인 여부 확인

        // 저장하기 버튼 클릭 이벤트 처리
        saveButton.addEventListener('click', function() {
            if (!isAuthenticated) {
                // 로그인되지 않은 경우, 로그인 페이지로 리다이렉트
                const loginUrl = "{% url 'accounts:login' %}";
                alert("로그인 후 저장할 수 있습니다.");
                window.location.href = loginUrl;
                return; // 로그인 페이지로 이동 후 함수 종료
            }

            // 선택된 논문 ID 배열 생성
            const selectedPapers = [];
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedPapers.push(checkbox.value);
                }
            });

            // 선택된 논문이 없는 경우 알림
            if (selectedPapers.length === 0) {
                alert("저장할 논문을 선택하세요.");
                return;
            }

            // FormData 객체 생성
            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); // CSRF 토큰 추가

            // 선택된 논문 ID 배열을 서버에 전송하기 위해 추가
            selectedPapers.forEach(paperId => {
                formData.append('selected_papers[]', paperId);  // 배열 형식으로 전송
            });

            // 서버로 POST 요청 보내기
            fetch("{% url 'save_selected_papers' %}", {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
    
    // 필터 초기화 버튼
    document.getElementById('reset-filters').addEventListener('click', function() {
        // 모든 체크박스를 해제
        document.querySelectorAll('.filter-container input[type="checkbox"]').forEach(function(checkbox) {
            checkbox.checked = false;
        });
    
        // 저자 검색 필드 비우기
        document.getElementById('author-search').value = '';
    
        // 필터링 관련된 파라미터를 URL에서 제거
        const url = new URL(window.location.href);
    
        // 필터링 관련된 쿼리 파라미터 제거
        url.searchParams.delete('year');
        url.searchParams.delete('publisher');
        url.searchParams.delete('author-search');
        url.searchParams.delete('country');
    
        // URL을 새로 고침 없이 업데이트
        window.history.replaceState(null, '', url.toString());
    });
    
    
    // 체크박스 해제 시 파라미터 제거
    document.querySelectorAll('.filter-container input[type="checkbox"]').forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            const url = new URL(window.location.href);
            const paramName = this.name;
    
            // 현재 필터에서 선택된 모든 체크박스 값을 가져옴
            const selectedValues = Array.from(document.querySelectorAll(`.filter-container input[name="${paramName}"]:checked`))
                .map(checkedBox => checkedBox.value);
    
            // 기존 파라미터를 모두 삭제
            url.searchParams.delete(paramName);
    
            // 선택된 값이 있는 경우만 파라미터 추가
            selectedValues.forEach(value => {
                url.searchParams.append(paramName, value);
            });
    
            // URL을 새로 고침 없이 업데이트
            window.history.replaceState(null, '', url.toString());
        });
    });
    
    document.querySelector('form[name="group"]').addEventListener('submit', function(event) {
        const url = new URL(window.location.href);
    
        // 선택되지 않은 파라미터를 제거
        ['year', 'publisher', 'country'].forEach(paramName => {
            const selectedValues = Array.from(document.querySelectorAll(`.filter-container input[name="${paramName}"]:checked`))
                .map(checkedBox => checkedBox.value);
    
            url.searchParams.delete(paramName);
    
            selectedValues.forEach(value => {
                url.searchParams.append(paramName, value);
            });
        });
    
        // 저자 검색 필드가 비어있다면 파라미터 제거
        if (!document.getElementById('author-search').value) {
            url.searchParams.delete('author-search');
        }
    
        // URL을 새로 고침 없이 업데이트
        window.history.replaceState(null, '', url.toString());
    
        // submit을 진행하도록 하기 위해 event.preventDefault()를 호출하지 않습니다.
    });
    
    document.querySelector('.filter-search').addEventListener('click', function(event) {
        event.preventDefault(); // 기본 폼 제출 동작을 막습니다.
    
        const url = new URL(window.location.href);
    
        // 필터링 관련된 모든 체크박스를 수집합니다.
        document.querySelectorAll('.filter-container input[type="checkbox"]').forEach(function(checkbox) {
            const paramName = checkbox.name;
    
            // 현재 필터에서 선택된 모든 체크박스 값을 가져옴
            const selectedValues = Array.from(document.querySelectorAll(`.filter-container input[name="${paramName}"]:checked`))
                .map(checkedBox => checkedBox.value);
    
            // 기존 파라미터를 모두 삭제하고, 새로운 값을 추가합니다.
            url.searchParams.delete(paramName);
            selectedValues.forEach(value => {
                url.searchParams.append(paramName, value);
            });
        });
    
        // 저자 검색 필드 값 갱신
        const authorSearch = document.getElementById('author-search').value;
        url.searchParams.delete('author-search');
        if (authorSearch) {
            url.searchParams.set('author-search', authorSearch);
        }
    
        // 갱신된 URL로 폼을 제출합니다.
        window.location.href = url.toString();
    });
    
    // 체크박스 선택
    document.getElementById('select-all').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.paper-checkbox');
        const isChecked = this.checked;
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = isChecked;
        });
    });

    // 정렬
    document.addEventListener('DOMContentLoaded', function() {
        // 오름차순/내림차순 콤보박스 이벤트 리스너
        document.getElementById('sort-order').addEventListener('change', function() {
            const url = new URL(window.location.href);
            url.searchParams.set('order', this.value);
            window.location.href = url.toString();
        });
    
        // 정렬 기준 콤보박스 이벤트 리스너
        document.getElementById('sort-by').addEventListener('change', function() {
            const url = new URL(window.location.href);
            url.searchParams.set('sort_by', this.value);
            window.location.href = url.toString();
        });
    
        // 페이지당 항목 수 콤보박스 이벤트 리스너
        document.getElementById('items-per-page').addEventListener('change', function() {
            const url = new URL(window.location.href);
            url.searchParams.set('items_per_page', this.value);
            window.location.href = url.toString();
        });
    });
    
    // 뉴스 국내 국외 전환 함수
    document.addEventListener('DOMContentLoaded', function() {
        // 버튼 요소를 가져옴
        const buttonKor = document.getElementById('button_kor');
        const buttonInter = document.getElementById('button_inter');
        const newsContent = document.querySelector('.news-content');
        const query = '{{ query }}'; // 현재 검색어를 유지합니다.
    
        // 버튼 클릭 이벤트 핸들러
        if (buttonKor && buttonInter) {
            buttonKor.addEventListener('click', function() {
                buttonKor.classList.add('type_active');
                buttonInter.classList.remove('type_active');
                loadNews('domestic');
            });
    
            buttonInter.addEventListener('click', function() {
                buttonKor.classList.remove('type_active');
                buttonInter.classList.add('type_active');
                loadNews('international');
            });
        }
    
        // 뉴스 로드 함수
        function loadNews(type) {
            fetch(`{% url 'search' %}?query=${query}&news_type=${type}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                let articlesHtml = '';
                if (data.articles.length > 0) {
                    articlesHtml = '<ul>';
                    data.articles.slice(0, 10).forEach(article => {
                        articlesHtml += `
                            <li>
                                <div class="news-title">
                                    <a href="${article.url}" target="_blank">${article.title}</a>
                                </div>
                                <div class="news-cont">
                                    ${article.description.length > 20 ? article.description.substring(0, 30) + "..." : article.description}
                                </div>
                                <div class="news-cont">
                                    ${article.publishedAt}
                                </div>
                            </li>
                            <hr>
                        `;
                    });
                    articlesHtml += '</ul>';
                } else {
                    articlesHtml = '<p>검색 결과가 없습니다.</p>';
                }
                newsContent.innerHTML = articlesHtml;
            })
            .catch(error => console.error('Error:', error));
        }
    });
</script>
{% endblock %}
